extends ../backend-layout
append styles
    // Custom styles for this template
    link(href='/css/dashboard.css', rel='stylesheet')
append body
    .container-fluid
        .row
            .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
                h1 Athlete: #{athlete.name}
                .row
                    .col-md-3
                        p School: ADD
                        p Gender: #{athlete.gender}
                    .col-md-3
                        p Graduation Year: #{athlete.gradyr}
                        p Birthday: #{athlete.bday_mm_dd_yyyy}

                    .col-md-3
                        p Sport: #{athlete.sport}
                hr
                .row 
                    .col-md-6
                        +panel-default('Activity log')
                            ul.list-group
                                li.list-group-item Some Notification
                                li.list-group-item Some Other Notification
                                li.list-group-item Some Other Notification
                    .col-md-6
                        +panel-default(athlete.fname+ `'s Settings`)
                            .row
                                form(method='POST' action='')
                                    .col-md-3
                                        label(for='showweight') Show Weight:
                                        br
                                        label.switch
                                            input(type="checkbox", name="showweight", checked=(true===false ? "checked" : athlete.showweight))
                                            span.slider.round
                                        
                                    .col-md-3
                                        label(for='highrisk') High Risk:
                                        br
                                        label.switch
                                            input(type="checkbox", name="highrisk", checked=(true===false ? "checked" : athlete.highrisk))
                                            span.slider.round
                .row
                    .col-md-12
                        +panel-default('Weight History')
                            dl
                            each weight in athlete_weights
                                dt 
                                    a(href=weight.url) #{weight.weight}
                                dd #{weight.type}
                                dd #{weight.time_yyyy_mm_dd}

                            else
                                p This athlete has no weight history.
                hr
                .row
                    .col-md-12
                        button.btn.btn-primary.pull-right(data-toggle="modal",data-target="#deleteAthleteModal") Delete Athlete
                        +modal("Delete Athlete","deleteAthleteModal")
                            form.form-signin(method='POST' action=athlete.url+'/delete')
                                h2.form-signin-heading Delete Athlete: #{athlete.name}
                                input#athleteid.form-control(type='hidden',name='athleteid', required='true', value=athlete._id )
                                button.btn.btn-lg.btn-primary.btn-block(type='submit') Delete

                        a.btn.btn-primary.pull-right(href=athlete.url+'/update') Update athlete